<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Developers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
<h2>    About siddarth,Lahari,Daisy
</h2>
<h5>Meet the Developers</h5>

<p>Hello! We Lahari,Daisy,siddarth, computer science Engineener . we are  passionate about harnessing the power of technology to make a positive impact on people's lives with health care sytem . 
</p>
<h5>Our Expertise
</h5>
<p>With a strong academic background in computer science and information technology a deep fascination for AIML and web development.
</p>

  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>